.center {
 width: 500px;
 color: black;
 text-align: center;
 
}
li:hover {
    background-color: cadetblue;
}

li:active {
    font-family: Arial, Helvetica, sans-serif;
}

  .listas {
      list-style: none;
  }