header {
    text-align: center;
    padding: 5px;
    border: 3px solid #6CA6CD;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #6CA6CD;
}
nav {
    display: inline-block;
    color: white;
    background-color: #6CA6CD;
}
#pagina {
    font-size: 20px;
    margin: 5%;
    display: inline-block;
    margin-right: 100px;
}
#sobree {
    display: inline-block;
    margin: 5%;
    margin-right: 100px;

}